[package]
name = "studiole_di_macros"
version.workspace = true
authors.workspace = true
edition.workspace = true
description.workspace = true
documentation.workspace = true

[lib]
proc-macro = true

[dependencies]
syn = "2.0.114"
quote = "1.0.43"

[lints]
workspace = true
