:root {
  --bulma-size-1: 2rem;
  --bulma-size-2: 1.5rem;
  --bulma-size-3: 1.25rem;
  --bulma-size-4: 1rem;
  --bulma-size-5: .9rem;
  --bulma-size-6: .75rem;
  --bulma-size-7: .6rem;
  --bulma-body-background-color: var(--main-bg);
}

:root {
  --overlay-bg: var(--bulma-scheme-main-bis);
  --main-bg: var(--bulma-scheme-main);
}

.title, .subtitle {
  --bulma-title-weight: normal;
}

.buttons .button {
  border-radius: .75rem
}

.buttons .button.is-large {
  border-radius: 1rem
}

.button[disabled] {
  cursor: default;
}

.image img {
  border-radius: .5rem;
}

code, pre {
  font-family: inherit;
  white-space: pre-wrap;
}

.block.item a {
  border-radius: .5rem;
  display: block;
  background-color: hsl(var(--bulma-scheme-h), var(--bulma-scheme-s), calc(var(--bulma-scheme-main-bis-l) + var(--item-l-delta)));
  --item-l-delta: 1%;
}

.block.item a:hover {
  --item-l-delta: 5%;
}

.block.item a:active {
  --item-l-delta: 10%;
}

.drawer {
  --bulma-scheme-main-l: var(--bulma-scheme-main-bis-l);
}
