:root {
  --bulma-size-1: 2rem;
  --bulma-size-2: 1.5rem;
  --bulma-size-3: 1.25rem;
  --bulma-size-4: 1rem;
  --bulma-size-5: .9rem;
  --bulma-size-6: .75rem;
  --bulma-size-7: .6rem;
}

.title, .subtitle {
  --bulma-title-weight: normal;
}

.fullscreen {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: end;
  justify-content: end;
}

.buttons {
  pointer-events: auto;
  margin: 1rem;
  width: fit-content;
  flex-direction: column;
  gap: 1rem;
}

.buttons .button {
  border-radius: .75rem
}

.buttons .button.is-large {
  border-radius: 1rem
}

.button[disabled] {
  cursor: default;
}

.image img {
  border-radius: .5rem;
}

code, pre {
  font-family: inherit;
  white-space: pre-wrap;
}
