[package]
name = "alnwick_core"
edition = "2024"
version.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true

[features]
default = ["server"]
server = [
  "sea-orm/runtime-tokio-rustls",
  "sea-orm/sqlx-sqlite",
  "dep:dirs",
  "dep:envy",
  "dep:fast_image_resize",
  "dep:futures",
  "dep:image",
  "dep:indicatif",
  "dep:lofty",
  "dep:scraper",
  "dep:sea-orm-migration",
  "studiole_command/server",
  "dep:studiole_di",
  "dep:tokio",
  "dep:urlencoding",
]

[dependencies]
chrono = { workspace = true }
clap = { workspace = true }
error-stack = { workspace = true }
reqwest = { workspace = true }
rss = { workspace = true }
sea-orm = { workspace = true, features = ["macros"] }
serde = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
studiole_command = { path = "../command", default-features = false }
strum_macros = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
url = { workspace = true }

# Server dependencies
dirs = { workspace = true, optional = true }
envy = { workspace = true, optional = true }
fast_image_resize = { workspace = true, optional = true }
futures = { workspace = true, optional = true }
image = { workspace = true, optional = true }
indicatif = { workspace = true, optional = true }
lofty = { workspace = true, optional = true }
scraper = { workspace = true, optional = true }
sea-orm-migration = { workspace = true, optional = true }
studiole_di = { path = "../di", optional = true }
tokio = { workspace = true, optional = true }
urlencoding = { workspace = true, optional = true }

[dev-dependencies]
base64 = { workspace = true }
insta = { workspace = true }
serial_test = { workspace = true }
sqlformat = { workspace = true }

[lints]
workspace = true
