name: CI/CD

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  ci-cd:
    name: CI/CD
    uses: StudioLE/Actions/.github/workflows/ci-cd-rust.yml@v7
    with:
      package_name: alnwick
    secrets:
      cargo_registry_token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      docker_password: ${{ secrets.GITHUB_TOKEN }}
