name: CI/CD

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  ci-cd:
    name: CI/CD
    uses: StudioLE/Actions/.github/workflows/ci-cd-dioxus-fullstack.yml@v7
    with:
      package_name: alnwick
      binary_name: alnwick
      test_args: --workspace --exclude alnwick_dioxus
      run_before_test: |
        mkdir -p "${HOME}/.cache/alnwick"
        mkdir -p "${HOME}/.local/share/alnwick"
        target/${MATRIX_TARGET}/release/alnwick scrape irl https://irlpodcast.org
      docker_name: alnwick
      docker_args: >
        --file docker/cli/Dockerfile
        --build-arg VERSION="${VERSION}"
    secrets:
      cargo_registry_token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      docker_password: ${{ secrets.GITHUB_TOKEN }}
